html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  @include type-setting(1);
  color: color('text', 'base');
  background-color: color('bg', 'white');
  overflow-x: hidden;

  &.nav-open {
    overflow: hidden;
  }
}